:root {
  --black: #000000;
  --black-lite: #444444;
  --grey: #dcdcdc;
  --grey-lite: #ebebeb;
  --grey-extra-lite: #f0f0f0;
  --white: #ffffff;
  --yellow: #ffe17f;
  --yellow-dark: #ffc700;
  --purple: #af4fff;
  --red: #ff3d3d;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik";
  font-display: swap;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Rubik";
  font-display: swap;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Rubik";
  font-display: swap;
  src: url(../fonts/rubik/rubik-800.woff2) format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Raleway";
  font-display: swap;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Rubik", "Arial", sans-serif;
  color: var(--black-lite);
  background-color: var(--white);
}

.user-navigation {
  font-size: 16px;
  line-height: 19px;
}

.user-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation__link {
  color: var(--black);
  text-decoration: none;
}

.main-navigation {
  font-weight: 800;
  line-height: 21px;
  font-family: "Raleway", "Arial", sans-serif;
  text-transform: uppercase;
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation__link {
  color: var(--black);
  text-decoration: none;
  letter-spacing: 0.2em;
}

.page-title {
  margin: 0;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", "Arial", sans-serif;
  color: var(--black);
}

.product-title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  letter-spacing: -0.02em;
}

.slider__carousel {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__feature-name {
  font-size: 16px;
}

.slider__feature-value {
  margin: 0;
  font-size: 36px;
  color: var(--black);
}

.categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories__item-link {
  text-decoration: none;
}

.categories__item-title {
  font-weight: 800;
  font-family: "Raleway", "Arial", sans-serif;
}

.services__controls {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 21px;
  font-family: "Raleway", "Arial", sans-serif;
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.services__controls-item--active {
  color: var(--yellow);
}

.services__slider {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us__delivery-item {
  font-weight: 700;
  line-height: 20px;
  color: var(--black);
}

.contacts__subtitle {
  font-size: 24px;
}

.contacts__address {
  font-style: normal;
}

.contacts__phonenumber {
  color: inherit;
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs__link {
  text-decoration: none;
  color: var(--black);
  font-size: 16px;
  opacity: 0.6;
  line-height: 19px;
}

.catalog-page {
  font-size: 16px;
  line-height: 19px;
  color: var(--black);
}

.catalog-page__catalog-head h2 {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  font-family: "Raleway", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filter-product__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-product__fieldset-caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.filter-product__fieldset-body {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-list__body {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-list__price {
  font-size: 18px;
  line-height: 21px;
  color: var(--black-lite);
}

.product-list__pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}

.product-list__pagination-item {
  opacity: 0.3;
}

.product-list__pagination-previous .product-list__pagination-link,
.product-list__pagination-next .product-list__pagination-link {
  font-weight: 800;
  font-family: "Raleway", "Arial", sans-serif;
  color: var(--black);
  letter-spacing: 0.2em;
  opacity: 1;
}

.product-list__pagination-link {
  color: var(--black-lite);
  text-decoration: none;
}

.page-footer {
  color: var(--white);
}

.page-footer__address-text {
  font-size: 16px;
  line-height: 19px;
}

.page-footer__navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__navigation-link {
  font-size: 800;
  font-family: "Raleway", "Arial", sans-serif;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.page-footer__cantacts-phonenumber {
  font-size: 16px;
  color: var(--white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}