.categories__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.categories__item-link {
  text-decoration: none;
}

.categories__item-body {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;

  background-color: var(--yellow);
}

.categories__item-body img {
  position: absolute;
}

.categories__item-body--monopods img {
  bottom: 0;
}

.categories__item-body--cameras img {
  right: 25%;
}

.categories__item-body--quadcopters img {
  top: 31%;
}

.categories__list {
  display: flex;
  flex-wrap: wrap;

  gap: 40px;
}

.categories__item {
  flex-basis: 160px;
}

.categories__item-title {
  padding-top: 34px;

  font-weight: 800;
  font-family: "Raleway", "Arial", sans-serif;
}

.categories__item-link:hover .categories__item-body {
  background-color: #ffc700;
}

.categories__item-link:focus .categories__item-body {
  outline: 5px solid #af4fff;
}

.categories__item-link:focus .categories__item-title,
.categories__item-link:focus {
  color: #af4fff;

  outline: none;
}

.categories__item-link:active img {
  opacity: 0.3;
}

.categories__item-link:active .categories__item-body {
  outline: none;
}

.categories__item-link:active .categories__item-title {
  color: var(--black);

  opacity: 0.3;
}
