.categories__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.categories__item-link {
  text-decoration: none;
}

.categories__item-title {
  font-weight: 800;
  font-family: "Raleway", "Arial", sans-serif;
}
