.contacts__subtitle {
  margin-top: 30px;
  margin-bottom: 0;

  font-size: 24px;
}

.contacts__address {
  font-style: normal;
}

.contacts__address-text {
  margin-top: 15px;
  margin-bottom: 0;
}

.contacts__phonenumber {
  color: inherit;
}

.contacts__working-hours {
  max-width: 220px;
  margin-top: 15px;
}
