.main-navigation {
  display: flex;
  justify-content: space-between;

  font-weight: 800;
  line-height: 21px;
  font-family: "Raleway", "Arial", sans-serif;
  text-transform: uppercase;
}

.main-navigation__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation__list--service {
  flex-basis: 543px;
  flex-wrap: wrap;

  row-gap: 20px;
}

.main-navigation__link {
  padding-top: 13px;
  padding-right: 18px;
  padding-bottom: 14px;
  padding-left: 18px;

  color: var(--black);
  text-decoration: none;
  letter-spacing: 0.2em;

  border: 2px solid transparent;
  border-radius: 25px;
}

// стилизация элементов главной навигации
.main-navigation__link:focus {
  border-color: var(--purple);
  outline: none;
}

.main-navigation__item {
  position: relative;
}

// состояния наведения для элементов главной навигацииа
.main-navigation__list--service .main-navigation__link:hover::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 20px;

  width: 75%;
  height: 2px;

  background-color: var(--black);
}

.main-navigation__list--service .main-navigation__link:active {
  border-color: transparent;
  opacity: 0.3;
}

// стили для правильного позиционирования при переполнение
// каждый 2-ой и 5-ый
.main-navigation__list--service .main-navigation__item:nth-child(3n-1) {
  margin-left: -9px;
}

// каждый 3-ий
.main-navigation__list--service .main-navigation__item:nth-child(3n) {
  margin-left: auto;
}

// стилизация элемента каталога
.main-navigation__link--catalog {
  position: relative;
  z-index: 2;

  padding-right: 105px;
}

.main-navigation__link--catalog::after {
  content: "";
  position: absolute;
  top: -2px;
  right: 39px;


  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;

  background-image: url(../img/img-decor/interactive/catalog-closed.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--black);
  border-radius: 50%;
  opacity: 0.2;
}

// состояния наведения для элемента каталога
.main-navigation__item:hover .main-navigation__link--catalog:after {
  background-image: url(../img/img-decor/interactive/catalog-open.svg);
  opacity: 1;
}

.main-navigation__link--catalog:active {
  border-color: transparent ;
  opacity: 0.3;
}

// Стили для выпадающего меню
.main-navigation__dropdown-menu {
  position: absolute;
  left: -41px;
  z-index: 1;

  display: none;
  box-sizing: border-box;
  width: 1160px;
  min-height: 180px;
  margin-top: 15px;
  padding-top: 33px;
  padding-right: 18px;
  padding-bottom: 12px;
  padding-left: 45px;

  column-gap: 14px;

  background-color: var(--yellow);
}

.main-navigation__item:hover .main-navigation__dropdown-menu,
.main-navigation__item:focus-within .main-navigation__dropdown-menu {
  display: flex;
}

.main-navigation__dropdown-list {
  display: flex;
  flex-direction: column;
  padding: 0;

  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Rubik", "Arial", sans-serif;
  text-transform: initial;

  row-gap: 18px;
}

.main-navigation__dropdown-menu .main-navigation__dropdown-list:last-of-type {
  margin-left: 15px;
}

.main-navigation__dropdown-link {
  padding: 5px 14px;

  color: var(--black);
  text-decoration: none;

  border: 2px solid transparent;
  border-radius: 25px;
}

.main-navigation__dropdown-link:focus {
  border-color: var(--purple);
  outline: none;
}

.main-navigation__dropdown-link:hover {
  opacity: 0.6;
}

.main-navigation__dropdown-link:active {
  border-color: transparent;
  opacity: 0.3;
}
