.main-page__slyder {
  margin-top: -59px;

  background: linear-gradient(0deg, #ffffff 73%, #ffe17f 0%);
}

.main-page__categories {
  margin-top: 69px;
}

.main-page__services {
  margin-top: 82px;
}

.main-page__rare-delivery {
  margin-top: 89px;
}
