.page-header {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 209px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 60px;
  padding-top: 39px;
  padding-right: 36px;
  padding-bottom: 53px;
  padding-bottom: 75px;
  padding-left: 41px;

  background-color: var(--yellow);

  row-gap: 34px;
}

.page-header__logo {
  position: absolute;
  top: -23px;
  left: 61px;
}
