.rare-delivery {
  display: flex;
  width: 1160px;
  height: 100px;
}

.rare-delivery__button {
  position: relative;

  width: 100%;
  padding: 0;

  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  font-family: Raleway;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: var(--grey-extra-lite);
  border: none;
  cursor: pointer;
}

.rare-delivery__text {
  display: block;
  padding-bottom: 2px;
  padding-left: 5px;
}

.rare-delivery__icon {
  position: absolute;
  top: 0;

  display: flex;
  width: 125px;
  height: 100%;

  background: var(--yellow);
}

.rare-delivery__icon-img {
  margin: auto;
}

.rare-delivery__info {
  position: absolute;
  top: 28px;
  right: 33px;

  display: flex;
  width: 40px;
  height: 40px;

  background: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
}

.rare-delivery__info-img {
  margin: auto;
}

// состояния наведения

.rare-delivery__button:focus {
  outline: 5px solid var(--purple);
}

.rare-delivery__button:hover {
  background-color: var(--grey-lite);
}

.rare-delivery__button:hover .rare-delivery__icon {
  background-color: var(--yellow-dark);
}

.rare-delivery__button:hover .rare-delivery__info {
  background-color: var(--grey);
}

.rare-delivery__button:active {
  outline: none;
}

.rare-delivery__button:active .rare-delivery__text,
.rare-delivery__button:active .rare-delivery__icon-img,
.rare-delivery__button:active .rare-delivery__info-img {
  opacity: 0.3;
}
