.services {
  min-height: 388px;

  background: linear-gradient(0deg, #f0f0f0 75%, #ffffff 75%);
}

.services__wrapper {
  display: flex;
}

.services__controls {
  flex-shrink: 0;
  flex-basis: 319px;
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 21px;
  font-family: "Raleway", "Arial", sans-serif;
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.services__controls-item--active {
  color: var(--yellow);
}

.services__slider {
  flex-shrink: 0;
  flex-basis: 560px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services__slide {
  display: none;
}

.services__slide--active {
  display: block;
}
