.user-navigation {
  display: flex;
  justify-content: space-between;

  font-size: 16px;
  line-height: 19px;
}

.user-navigation__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation__link {
  color: var(--black);
  text-decoration: none;
}
